body { 
font-family: Georgia; 
line-height: 1.4;
font-size: 12px;
background: #efefef;
margin: 0;
padding: 0;
}

a { color: #121212; text-decoration: none;}
a:hover { text-decoration: underline; }
h1 { margin: 0; padding: 0; }
h2 { margin: 0; padding: 0; }

#wrap { 
width: 800px;
margin: 0 auto;
}

#header {
height: 90px;
}
#header h1 {
margin: 0;
padding: 15px 0 0 20px;
font-weight: 100;
font-size: 30px;
letter-spacing: -2px;
}
#header h1 a { text-decoration: none; color: #111; }
#header h1 a:hover { text-decoration: none; border-bottom: 1px solid #111; }

#header h2 { padding: 0 0 0 20px; margin: 0; color: #1F160F; font-weight: 100; font-size: 17px; }

#menu {
background: url(/images/menu.jpg) no-repeat;
height: 60px;
line-height: 60px;
}

#menu ul {
list-style-type: none;
margin: 0;
padding-left: 20px;
}
#menu ul li {
display: block;
float: left;
}
#menu ul li a {
display: block;
padding: 0 10px 0 10px;
text-decoration: none;
color: #fff;
font-size: 14px;
font-weight: 100;
}
#menu ul li a:hover {
color: #FFC500;
}

#top { background: url(/images/top.jpg) no-repeat; padding: 10px 0; }

#contentwrap {
padding: 0 20px;
background: url(/images/content.jpg) repeat-y;
}

#content {
float: right;
width: 520px;
padding-top: 10px;
}
#content h2 {
margin: 0;
color: #121212;
line-height: 30px;
font-size: 20px;
font-weight: 100;
}

#content p { padding: 0 0 10px 0; }
#content ul { padding: 0 20px 10px 30px; }

#sidebar {
float: left;
width: 200px;
}

#sidebar h3 {
height: 40px;
line-height: 40px;
font-weight: 600;
font-size: 12px;
margin: 0; padding: 0 0 0 10px; 
color: #121212;
}

#sidebar p { padding: 0 10px 10px 10px; color: #232323; }

#sidebar ul {
padding: 10px 0 25px 30px;
margin: 0;
color: #121212;
list-style-type: circle;
}

#sidebar ul li {
padding: 0;
margin: 0;
}

#sidebar ul ul { padding: 2px 0 2px 20px; }

#footer { 
text-align: center;
background: url(/images/footer.jpg) repeat-x;
height: 100px;
line-height: 100px;
color: #fff;
font-size: 12px;
}
#footer p { padding: 0; margin: 0; }
#footer a { color: #fff; }
#footer a:hover { text-decoration: underline; color: #FFC500; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
