<% content_for :head do %>
  <h2>Welcome</h2>  
<% end %>

<table>
  <tr>
    <td><strong>Upcoming Matches</strong></td>
  </tr>
  <tr>
    <td>
      <% @upcoming_matches.each do |match| %>
        <%= match.opponent.name %> at <%= match.location %>
        <br/>
      <% end %>
      <p>&nbsp;</p>

      <%= link_to('Complete schedule', {:controller => 'matches', :action => 'season_schedule', :team_id => 1}) %>
    </td>
  </tr>
</table>
