<html>
  <head>
    <title>Volleyball Stats</title>
    <%= stylesheet_link_tag :all %>
  </head>
  
  <body> 

  <div id="wrap">
    <div id="header">
      <h1><a href="#">Volleyball Stats</a></h1>
    </div>

    <%= yield %>

  </div> 
  </body>
</html>
